AmonSul/.vs/AmonSul/FileContentIndex
*.v2
AmonSul/.vs/AmonSul/v17
AmonSul/AS.API/obj/Debug/net8.0/ref
AmonSul/AS.API/obj/Release/net8.0/PubTmp/Out/AS.API.exe
*.pdb
*.dll
*.cache
*.editorconfig
AmonSul/AS.Domain/obj/Debug/net8.0/AS.Domain.AssemblyInfo.cs
AmonSul/AS.Domain/obj/Debug/net8.0/AS.Domain.sourcelink.json
AmonSul/AS.Domain/obj/Release/net8.0/AS.Domain.AssemblyInfo.cs
AmonSul/.vs/ProjectEvaluation
AmonSul/AS.API/bin/Debug/net8.0/AS.API.exe
AmonSul/AS.API/obj/Debug/net8.0
AmonSul/AS.API/obj
AmonSul/AS.Application/obj/Debug/net8.0
AmonSul/AS.Application/obj
AmonSul/AS.Domain/obj
AmonSul/AS.Infrastructure/obj/Debug/net8.0
AmonSul/AS.Infrastructure/obj
AmonSul/AS.Utils/obj/Debug/net8.0
AmonSul/AS.Utils/obj
AmonSul/.vs/ProjectEvaluation
AmonSul/AS.API/bin/Debug/net8.0
AmonSul/AS.API/obj/Debug/net8.0
AmonSul/AS.API/obj
AmonSul/AS.Application/obj/Debug/net8.0
AmonSul/AS.Application/obj
AmonSul/AS.Domain/obj
AmonSul/AS.Infrastructure/obj/Debug/net8.0
AmonSul/AS.Infrastructure/obj
AmonSul/AS.Utils/obj/Debug/net8.0
AmonSul/AS.Utils/obj
AmonSul/AS.API/bin/Release/net8.0
*.user
AmonSul/AS.Utils/bin/Debug/net8.0
AmonSul/AS.Application/bin/Release/net8.0/AS.Application.deps.json
AmonSul/AS.Domain/bin/Release/net8.0/AS.Domain.deps.json
AmonSul/AS.Infrastructure/bin/Release/net8.0/AS.Infrastructure.deps.json
AmonSul/AS.Application/bin/Debug/net8.0/AS.Application.deps.json
AmonSul/AS.Infrastructure/bin/Debug/net8.0/AS.Infrastructure.deps.json
